/* GLOBAL */
*{
    box-sizing: border-box;
    }


*:focus{
outline: 2px dashed #7296ec;
outline-offset: 4px;
}


body{
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
font-size: 16px;
line-height: 1.5;
}

a, li{
  text-decoration:none;
  list-style: none;
}

.container{
width: 100%;
max-width: 1440px;
padding-right: 74.5px;
padding-left: 74.5px;
margin-right: auto;
margin-left: auto;
}

/* header */

.header{
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: #F6F6F6;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
text-align: center;
color:#7296EE;
background-color: #fff;
padding: 9px 6px 8px;
margin-right: 35px;
border-radius: 16px;
line-height: 28px;
font-size: 24px;
font-weight: 700;
}

.curency{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.9;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #555;
margin-right: 247px;
}

.curency span{
  font-weight: 700;
  color:#2959CE;
  margin-right: 3px;
}

.dollor{
margin-right: 25px;
}

.search{
  display: flex;
  align-items:center;
  justify-content: space-between;
color: #8D8D8D;
background-color:#fff;
border-radius: 60px;
margin-right: 25px;
padding: 10px;
}

.search-img{
  margin-left: 20px;
}

.search-input{
  border:none;
  outline-style: none;
}

.language{
  display: flex;
  padding: 3px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-align: center  ;
  background-color:#dcE6ff;
  border-radius:39px;
}

.uz{
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

.ru{
  width: 30px;
  height: 30px;
  color: #a6a6a6;
  border-radius: 50%;
}

.login-link{
  background-color: #7296EC;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
  border-radius: 10px;
  padding: 13px 20px;
  margin-left: 25px;
}

.login-link:hover{
  opacity: 0.8;
}


/* MENU SECTION */

.menu{
  margin-top: 30px;
}

.menu-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-link{
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7F7F7F;
}

.menu-link:hover{
  color: #7296ec;
}

.menu-line{
  width: 100%;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid #D1D1D1;
}

/* CARDS SECTION */

.top-news{
  margin-top:50px ;
}

.main-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
border-radius: 15px;
padding: 20px 17px 15px;
margin: 0;
margin-left: 10px;
width: 390px;
margin-bottom: 10px;
}

.card1, .card4{
  margin-left: 0;
}

.card-heading{
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000;
}

.card-heading:hover{
  color:#7296ec
}

.card-action{
margin: 0;
margin-top: 10px;
margin-bottom: 15px;
padding: 0;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4A4B4C;
}

.card-img{
  display: block;
  margin-top: auto;
  width: 360px;
  height: 165px;
  margin-bottom: 18px;
  border-radius: 10px;
  object-fit: cover;
}

.card-source{
  display: flex;
  align-items: center;
  margin-top: auto;
}

.card-logo{
  border-radius: 5px;
  margin-right: 10px;
}

.card-logo-action{
font-weight: 400;
font-size: 12px;
line-height: 1.4;
color: #5e5f61;
}


/* NOTIFICATION SECTION  */

.notification-container{
  display: flex;
  justify-content: center;
}

.notification-text{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-image: url(../img/background.jpg);
  width: 1050px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 25px 70px 25px 30px;
  margin: 60px 75px 84px;
  border-radius:10px;
}


.notification-heading{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.link-notification{
  background-color: #F78B3B;
  color: #fff;
  padding: 13px 30px;
  border-radius: 10px;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.link-notification:hover{
  opacity: 0.8;
}

/* WORLD NEWS SECTION */


.layout-2-1{
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.global-news-heading{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 20px;
}

.new-list-container{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.news-list{
  display: flex;
  padding: 20px;
margin: 0;
border-radius: 15px;
  background-color:#f6f6f6;
}

.news-list:not(:last-child){
  margin-bottom: 10px;
}

.news-list-img{
  border-radius: 10px;
width: 210px;
height: 165px;
margin: 0;
margin-right: 15px;
padding: 0;
object-fit: cover;
}

.news-list-action{
display: flex;
flex-direction: column;
margin: 0;
}

.news-list-heading{
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}

.news-list-heading:hover{
  color:#7296ec;
  }

.news-list-text{
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4a4b4c;
}

.global-news-link{
  display: flex;
background-color: #eaeaea;
border-radius: 10px;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000;
padding:17px 343px ;
margin-top: 17px;
}

/* layout2-2 */

.site-layout{
  margin-bottom: 10px;
}

.site-layout-container{
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 16px;
}

.site-layout-link-heading{
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000;
margin: 0;
margin-bottom: 25px;
}

.site-layout-link{
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #000;
}

.site-layout-link:hover{
  color:#7296ec;
}

.site-layout-link-source{
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #5e5f61;
margin: 0;
padding: 0;
}

.site-layout-link-source:not(:last-child){
  margin-top: 8px;
  margin-bottom: 20px;
}

.site-layout-link-line:not(:last-child){
  margin: 0;
  margin-bottom: 20px;
}

.site-layout-link-img{
  margin-top: 10px;
}

/* FOOTER SECTION */
.footer{
  background-color: #7297ef;
  margin-top: 100px;
  color: #fff;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 75px 0;
}

.footerlogo{
font-weight: 700;
font-size: 24px;
line-height: 28px;
margin: 0;
margin-bottom: 15px;
}

.footer-action-text{
  width: 229px;
font-weight: 400;
font-size: 12px;
line-height: 19px;
padding: 0;
margin: 0;
}

.footer-link{
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #fff;
}

.footer-link:hover{
color: #2959ce;
}

.footer-list-link{
margin-top: 35px;
}

.footer-list{
margin: 0;
padding: 0;
}

.footer-item:not(:last-child){
  margin-bottom: 20px;
}

.footer-line{
  margin: 30px 75px 20px;
  height: 1px;
  background-color: #cecece;
  border:none;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items:center;
margin: 0 75px;
}

.footer-title{
  margin: 0;
}

.footer-social{
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-item:not(:last-child){
  margin-right: 25px;
}



/* ARTICLE PAGE STYLE */

.article-img{
  width:797px;
  height:330px;
}

.article-action{
  font-size: 14px;
  line-height: 17px;
}

.article-heading{
  margin-top: 30px;
font-weight: 500;
font-size: 26px;
line-height: 36px;
}

.article-box{
  margin-top: 25px;
}

.article-text{
font-weight: 400;
font-size: 20px;
line-height: 30px;
margin: 0;
}

.article-text:not(:last-child){
  margin-bottom: 24px;
}

.article-line{
  margin-top: 50px;
  margin-bottom: 60px;
}

.article-cards{
  display: flex;
}

.article-card{
height: 207px;
}

.article-card:nth-child(1){
  margin-left: 0;
}

/* CONTACT SECTION */

.contact-heading{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.contact-input{
width: 341px;
height: 55px;
  background-color:#fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.5;
  padding: 18px 0 18px 20px   ;
}

.contact-input:nth-child(1){
  margin-right: 10px;
}

.contact-email{
width: 696px;
margin: 10px 0;
}

.textarea{
  width: 696px;
  height: 180px;
  margin-bottom: 20px;
}


.btn{
  display: flex;
  justify-content: end;
}
.sub{
  margin: 0;
margin-top: 20px;
}

.contact-container{
  width: 494px;
}

.contact-layout-heading{
  margin: 0;
  margin-top: 20px;
font-weight: 500;
font-size: 20px;
line-height: 24px;
}

.contact-layout-source{
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.contact-line{
  margin-top: 20px;
  margin-bottom: 20px;
}